version: '3.8'

services:
  app:
    build: .
    container_name: lendsqr_app
    environment:
      - DB_HOST=mysql
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    networks:
      - lendsqr_network
    depends_on:
      - mysql
    command: npm run dev